.sonnet {
  width: 100%;

  .verse {
    &:nth-child(13n + 5),
    &:nth-child(13n + 9),
    &:nth-child(13n + 12) {
      padding-top: 1em;
    }

    display: flex;
    justify-content: space-between;

    .navigation {
      padding-right: 1em;
    }

    .text {
      flex-grow: 1;
      text-align: left;
    }
  }
}
