.sonnet {
  color: green;
  width: 100%;

  .verse {
    &:nth-child(13n + 5),
    &:nth-child(13n + 9),
    &:nth-child(13n + 12) {
      padding-top: 1em;
    }

    display: flex;
    justify-content: space-between;

    .navigation {
      button {
        height: 1.5em;
        width: 1.5em;
        font-size: xx-small;
        margin: 0;
      }
    }

    .text {
      flex-grow: 1;
      text-align: left;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
